################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KuratorHelper.sln
/KuratorHelper_main/KuratorHelper_main.csproj
